<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Multiplayer</ion-title>
    <ion-button
      slot="end"
      fill="clear"
      (click)="toggleMusic()"
      style="font-size: 1.3em"
      >🔊</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" style="position: relative">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="contenidoArena">
    <div class="contenedorArena">
      <ion-card class="arena enemigoPokeball">
        <ion-card-header>
          <ion-card-title *ngIf="pokemonRival" class="ion-text-center titulos"
            >{{enemyName}} {{ pokemonRival.name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="pokeballTarjeta">
          <ion-grid>
            <ion-row class="pokeballsGroup">
              <ion-col no-lines class="pokeballColumn">
                <br />
                <app-pokeball
                  [pokemonReceived]="pokemonRival"
                  (pokemonDatos)="pokemonRival = $event"
                ></app-pokeball>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card class="centroArena">
        <ion-card-header>
          <ion-card-title class="ion-text-center titulos"> </ion-card-title>
        </ion-card-header>
        <ion-card-content class="pokeballTarjeta">
          <ion-grid>
            <ion-row style="display: none"> </ion-row>
            <ion-row class="pokeballsGroup" style="display: none">
              <ion-col no-lines class="pokeballColumn"> </ion-col>
            </ion-row>
            <ion-row class="pokeballsGroup">
              <ion-col class="pokeballColumn">
                <img
                  *ngIf="pokemonJugador.sprite"
                  src="{{pokemonJugador.sprite}}"
                  alt="imagen"
                  class="spriteCentro"
                />
              </ion-col>
              <ion-col class="pokeballColumn">
                <ion-text class="comparador"> VS </ion-text>
              </ion-col>

              <ion-col class="pokeballColumn">
                <img
                  *ngIf="pokemonRival.sprite"
                  src="{{pokemonRival.sprite}}"
                  alt="imagen"
                  class="spriteCentro"
                />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>
                  <div>
                    <h1 class="puntaje">{{puntaje}}</h1>
                  </div>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card class="arena jugadorPokeball">
        <ion-card-header>
          <ion-card-title *ngIf="pokemonJugador" class="ion-text-center titulos"
            >Jugador {{ pokemonJugador.name }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="pokeballTarjeta">
          <ion-grid>
            <ion-row class="pokeballsGroup">
              <ion-col no-lines class="pokeballColumn">
                <br />
                <app-pokeball
                  [typeSelected$]="tipoSeleccionado$"
                  (pokemonDatos)="emitPokemon($event)"
                ></app-pokeball>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-footer id="footerEleccion">
      <ion-toolbar>
        <ion-row class="pokeballsGroup">
          <ion-col>
            <div
              class="ion-activatable ripple-parent"
              (click)="tipoSelected('water')"
            >
              <h3 class="tipoEmoji">🌊</h3>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <div
                class="ion-activatable ripple-parent"
                (click)="tipoSelected('fire')"
              >
                <h3 class="tipoEmoji">🔥</h3>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <div
                class="ion-activatable ripple-parent"
                (click)="tipoSelected('grass')"
              >
                <h3 class="tipoEmoji">🌿</h3>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>
