<div class="pokeballSelf">
  <swiper effect="flip" #swipeBigPokeball [virtual]="true"
  [allowTouchMove]=false
  class="mySwiper" style="padding: 0; margin: 0;">
    <ng-template swiperSlide style="padding: 0; margin: 0;">
      <ion-img style="width: 100px; height: 100px; padding: 0; margin: 0;"
      src="https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png">
    </ion-img>
    </ng-template>
    <ng-template swiperSlide style="padding: 0; margin: 0;">
      <ion-img style="min-width: 170px; min-height: 170px; padding: 0; margin: 0;"
      [src]="pokemonData.image ?? ''" (load)="cargada()">
      </ion-img>
    </ng-template>
  </swiper>
</div>
