.pokeballSelf{
  display: inline-block;
  min-height: 200px;
  margin: auto;
}

.swiper {
    width: 80px;
    height: 80px;
    padding: 5px;
  }

.swiper-slide {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
}

.mySwiper{
  animation: rotation 1s 1 ease-out;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(719deg);
    }
  }
}
