<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ir a<br><br><br>
      <ion-button [routerLink]="['/batalla']" color="success" fill="outline">Batalla</ion-button>
      &nbsp;
      <ion-button [routerLink]="['/multijugador']" color="tertiary" fill="outline">Vs. mode</ion-button>
    </strong>
  </div>
</ion-content>
